{{> head }}
    <!-- Incluye el partial navbar -->
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Super Perfil</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sunt eius, 
                perspiciatis exercitationem eaque natus eos! Hic labore, doloribus, quae repudiandae incidunt, 
                voluptatem quibusdam sit vel esse sint praesentium reiciendis?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/ironman.jpg" height="300" width="200">
        </div>
    </div>
{{> footer }}